#formDecoration {
  border-radius: 25px;
  padding: 5px auto;
  background-color: none;
  outline: none;
}

.container-fluid {
  overflow: hidden;
}


.card, .card-body {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}


.fixed-bottom  {
  padding: 0;
}
